doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.tailwindcss.com")
  body
    div(class="container w-full m-auto flex h-screen")
        block contentLeft
        block contentRight
